#messages {
    max-height: 80vh;
    overflow: hidden;
}

#overlay{
    /* Gradient made with https://cssgradient.io/ */
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 5%, rgba(0,212,255,0) 100%);
    position: absolute;
    width: 20%;
    height: 80vh;
    /* outline: 1px solid black; */
}

p{
    width: 100%;
    text-align: left;
    word-break: break-word;
}

/* fade in effect done with help of https://blog.hubspot.com/website/css-fade-in#text-transition */
.fade-in{
    animation: fadeIn 1.5s;
}

@keyframes fadeIn {
    0% { opacity: .1; }
    100% { opacity: 1; }
}